Package: coreutils-bin
Essential: yes
Priority: required
Section: Utilities
Installed-Size: 7320
Maintainer: Sam Bingner <maintainer@sbdhi.com>
Architecture: iphoneos-arm
Version: 8.31-1
Replaces: shell-cmds (<< 118-5), coreutils (<= 7.2-9)
Provides: dirname, kill, mktemp, su
Description: just the /bin folder from GNU coreutils
Name: Core Utilities (/bin)
Homepage: http://www.gnu.org/software/coreutils/
