Package: readline
Essental: yes
Version: 9:0
Architecture: iphoneos-arm
Maintainer: Fake pkg <none@example.com>
Section: System
Homepage: http://example.com
Description: empty package
Installed-Size: 0
